@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,700');

html,body {
  margin: 0;
}
html,body {
  background-color: rgb(0, 0, 0);
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  font-size: 100px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
  letter-spacing: -7px;
  border-width: 0px;
  margin: 0px;
  min-height: 51px;
  max-height: 51px;
}
h2 {
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
  letter-spacing: 3px;
  visibility: inherit;
  color: rgb(255, 255, 255);
}

.newText {
    width: 1000px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  a.button8 {
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 0.9em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 25px;
}
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
{
  .newText {
      width: 250px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }

    h1 {
      font-size: 30px;
      line-height: 22px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa', cursive;
      letter-spacing: -7px;
      border-width: 0px;
      margin: 0px;
      min-height: 51px;
      max-height: 51px;
    }
    h2 {
      font-size: 13px;
      line-height: 35px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa', cursive;
      letter-spacing: 3px;
      visibility: inherit;
      color: rgb(255, 255, 255);
    }
}
