html{
  background-color: rgb(0, 0, 0);
}
h1 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
}
h2 {
font-family: Comfortaa;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 13px;
color: #FFFFFF;
}

.newText {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
